@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
    box-sizing: border-box;
}
:root {
    --primarycolor: #FDE047;
}

body{
    margin: 0;
    background-color: lightyellow
}


.nav {
    background-color: var(--primarycolor);
    font-family: 'Luckiest Guy', cursive;
    text-transform: none;
    padding: 1rem;
    letter-spacing: 5px;
    text-align: center;
    
}

#textarea1 {
    width: 80%;
    
    margin: 1rem auto;
    display: block;
    min-height: 20vh;
    padding: 1rem;
    border-style: solid;
    font-family: 'Comic Neue';

}

#button {
    background-color: var(--primarycolor);
    display: flex;
    font-size: 1rem;
    margin: 0.5rem auto;
    margin-top: 1rem;
    padding: 1rem;
    font-family: 'Comic Neue';
    border: none;


}

#translatedText {
    background-color: white;
    width: 80%;
    min-height: 20vh;
    margin: auto;
    padding: 1rem;
    border-style: inset;
    font-family: 'Comic Neue';

}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--primarycolor);
    font-family: 'Comic Neue';
    margin: auto;
    padding: 1rem;
}

