#textarea1 {
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    border-style: solid;

}

#button {}

#translatedText {
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    border-style: solid;
}